/*!
global > color
------------------------------
*/
:root {
    //background colors
    --bg-primary: #c5ab5f;
    --bg-primary-light: rgba(197, 171, 95, 10%);
    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-gray: #d1d1d1;
    --bg-gold: #aca56c;
    --bg-orange: #d0a85e;
    --bg-blue: #6c9dac;
    --bg-pink: #ac6ca0;
    --bg-green: #6cac7b;
    //border colors
    --border-gray: #dddddd;
    --border-primary: #c5ab5f;
    --border-white: #ffffff;
    //font colors
    --font-base: #000000;
    --font-white: #ffffff;
    --font-gray: #666666;
}
