@use "../global" as g;

/*!
layout > header
------------------------------
*/

.header-inner {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include g.mq() {
        height: 75px;
    }
}

.header-logo {
    width: 180px;

    @include g.mq(sm) {
        width: 320px;
    }
}

.header-nav {
    background-color: var(--bg-primary);
    color: var(--font-white);
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;

    &-inner {
        width: 90%;
        max-width: var(--width-content);
        margin-inline: auto;
    }

    &-list {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        justify-content: center;
        @include g.mq() {
            justify-content: flex-start;
        }
    }

    &-item {
        white-space: nowrap;
        font-size: 12px;

        @include g.mq() {
            font-size: 14px;
        }

        &:not(:first-child) {
            border-left: 1px solid var(--border-white);
            padding-left: 16px;
        }

        &:not(:last-child) {
            padding-right: 16px;
        }
    }
}
