@use "../global" as g;

/*!
component > kv
------------------------------
*/

.c-page-kv {
  border-bottom: 1px solid var(--border-primary);
  background-image: url(../img/bg-pattern-page-head.png);
  padding: 56px 0;
  background-size: 90px;
  background-position: center;
}


