@use "../../global" as g;

/*!
layout > top > top-kv
------------------------------
*/

.top-kv {
    background-image: url(../img/bg-pattern-kv.png);
    background-size: 140px;
    position: relative;
    padding: 56px 0 8px;

    @include g.mq() {
        padding: 46px 0;
    }
}

.top-kv-inner {
    @include g.mq() {
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 40px;
        align-items: center;
    }
}

.top-kv-recommendation {
    border-radius: 16px;
    border: 1px solid var(--border-primary);
    overflow: hidden;
    z-index: 1;

    &:hover {
        opacity: 0.7;
    }
}

.top-kv-link {
    display: block;
    overflow: hidden;
    @include g.mq() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

.top-kv-thumbnail {
    height: 100%;
    @include g.mq() {
        order: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.top-kv-desc {
    background-color: var(--bg-white);
    padding: 16px 17px;

    @include g.mq() {
        padding: 32px;
    }

    @include g.mq(lg) {
        padding: 58px 48px;
    }
}

.top-kv-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 160%;
    margin-top: 8px;

    @include g.mq() {
        font-size: 20px;
    }
}

.top-kv-date {
    text-align: right;
    margin-top: 10px;
    line-height: 100%;

    @include g.mq() {
        margin-top: 48px;
    }
}

.top-kv-character {
    width: 40%;
    max-width: 200px;
    margin-left: auto;

    @include g.mq() {
        width: 200px;
        flex: 1;
    }
}

.top-kv-treat {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 180px;

    @include g.mq() {
        width: 250px;
        bottom: 25px;
    }
}
